*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

.env
.DS_Store
*/.DS_Store

#penguin_infrastructure/lambda_functions/pynacl/python/*
.layers.txt
