name: Penguin-Bot-Deployment

on:
  push:
    branches: [prod]

env:
  AWS_REGION: 'ap-southeast-2'

permissions:
  id-token: write
  contents: read

jobs:
  aws_cdk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: prod

      - uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::162455609113:role/GitHub-Actions-CDK-Deploy-Role
          role-session-name: GitHubActionsPenguinDeploymentProd
          aws-region: ${{ env.AWS_REGION }}

      - name: cdk deploy
        uses: youyo/aws-cdk-github-actions@v2
        with:
          cdk_subcommand: 'deploy'
          cdk_stack: 'PenguinInfrastructureStack'
          cdk_args: '--require-approval never'
          actions_comment: false
