name: Baby-Penguin-Bot-Deployment

on:
  workflow_dispatch:
  push:
    branches: [main]

env:
  STACK_NAME: 'PenguinInfrastructureStack'
  AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT }}
  AWS_REGION: 'ap-southeast-2'
  AWS_CDK_ROLE: ${{ secrets.AWS_CDK_ROLE }}
  NODE_VERSION: '18'
  PYTHON_VERSION: '3.10'
  DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN_BABY }}
  GUILD_NAME: ${{ secrets.GUILD_NAME }}

permissions:
  id-token: write
  contents: read

jobs:
  Baby-Penguin-Bot-Deployment:
    runs-on: ubuntu-latest
    environment: Development

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: prod # check

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT }}:role/${{ env.AWS_CDK_ROLE }}
          role-session-name: GitHubActionsBabyPenguinDeploymentProd
          aws-region: ${{ env.AWS_REGION }}

      - name: Configure Variables
        run: |
          export CDK_DEFAULT_ACCOUNT=${{ env.AWS_ACCOUNT }}
          export CDK_DEFAULT_REGION=${{ env.AWS_REGION }}
          export DISCORD_TOKEN=${{ env.DISCORD_TOKEN }}
          export GUILD_NAME=${{ env.GUILD_NAME }}

      - name: Install CDK
        run: npm install -g aws-cdk

      - name: Install Dependencies
        run: python -m pip install -r requirements.txt

      - name: Deploy Stack
        run: cdk deploy ${{ env.STACK_NAME }} --require-approval never
