name: Penguin-Bot-Destruction

on: workflow_dispatch

env:
  AWS_REGION: 'ap-southeast-2'

permissions:
  id-token: write
  contents: read

jobs:
  Penguin-Bot-Destruction:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: prod

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::162455609113:role/GitHub-Actions-CDK-Deploy-Role
          role-session-name: GitHubActionsPenguinDestructionProd
          aws-region: ${{ env.AWS_REGION }}

      - name: Install Dependencies
        run: yarn

      - name: Synth Stack
        run: yarn cdk synth

      - name: Destroy Stack
        run: yarn cdk destroy --force
